---
import Container from "../Container.astro";
import SectionHeader from "../SectionHeader.astro";
import map from "../../assets/map.png";

const { lang: t } = Astro.props;

const STEPS = t.process.steps;
---

<Container class="py-16 md:py-22 bg-white">
    <SectionHeader
        eyebrow={t.process.eyebrow}
        title={t.process.title}
        description={t.process.description}
    />

    <div class="relative mt-16 max-w-5xl mx-auto">
        <!-- Línea desktop -->
        <div
            class="hidden md:block absolute top-10.25 left-[12%] right-[12%] h-0.5 bg-(--color-secondary)"
        >
        </div>

        <!-- Línea mobile -->
        <div
            class="md:hidden absolute left-10 top-0 bottom-0 w-0.5 bg-(--color-secondary)"
        >
        </div>

        <!-- Steps -->
        <div class="relative grid grid-cols-1 md:grid-cols-4 gap-10 md:gap-8">
            {
                STEPS.map(
                    (
                        step: { title: string; description: string },
                        idx: number,
                    ) => (
                        <div class="flex md:flex-col items-center gap-4 md:gap-0 text-left md:text-center">
                            <div class="w-20.5 h-20.5 shrink-0 rounded-full bg-(--color-secondary) flex items-center justify-center z-10">
                                <span class="text-2xl font-bold">
                                    {idx + 1}
                                </span>
                            </div>

                            <div>
                                <h3 class="md:mt-3 font-bold text-lg text-(--color-text)">
                                    {step.title}
                                </h3>

                                <p class="mt-1 text-sm text-black/70 max-w-55">
                                    {step.description}
                                </p>
                            </div>
                        </div>
                    ),
                )
            }
        </div>
    </div>

    <div
        class="flex flex-col md:flex-row items-center md:items-start justify-between gap-12 md:gap-20 text-(--color-text) mt-20"
    >
        <img
            src={map.src}
            alt="mapa"
            class="w-full max-w-xl md:max-w-md lg:max-w-none"
        />

        <div
            class="max-w-sm flex flex-col items-center md:items-start text-center md:text-left gap-2"
        >
            <h3 class="font-bold text-[24px]">
                {t.process.world.title}
            </h3>

            <p class="text-[14px]">
                {t.process.world.description}
            </p>

            <a
                href="#contact"
                class="w-full sm:w-auto inline-flex mt-5 items-center justify-center border border-(--color-secondary) text-[14px] px-6 py-4 rounded-md font-semibold text-(--color-secondary) hover:bg-(--color-secondary) hover:text-white transition"
            >
                {t.process.world.button}
            </a>
        </div>
    </div>
</Container>
