---
import Container from "../Container.astro";
import SectionHeader from "../SectionHeader.astro";

import people from "../../assets/icons/people.svg";
import global from "../../assets/icons/global.png";
import done from "../../assets/icons/done.png";
import shield from "../../assets/icons/shield.png";
import up from "../../assets/icons/uparrow.png";
import experience from "../../assets/icons/30+.svg";

const { lang, t } = Astro.props;

const icons = [people, global, done, shield, up, experience];

const culture_info = t.culture.values.map((item : { title: string; description: string }, index : number) => ({
    ...item,
    icon: icons[index],
    smallIcon: index === 5,
}));
---

<Container
    class="py-16 md:py-22 flex flex-col lg:flex-row justify-between items-center md:items-start gap-12 md:gap-16"
>
    <div class="max-w-lg text-center md:text-left">
        <SectionHeader
            align="left"
            title={t.culture.title}
            eyebrow={t.culture.eyebrow}
            description={t.culture.description}
        />

        <p class="font-bold text-(--color-text) mt-5">
            {t.culture.highlight}
        </p>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-3 w-full lg:w-xl">
        {
            culture_info.map((info : { smallIcon: boolean; icon: { src: string }; title: string; description: string }) => (
                <div class="min-h-55 md:min-h-auto md:aspect-square p-3 rounded bg-white shadow-[0_0_15px_rgba(0,0,0,0.08)] flex flex-col items-center justify-center text-center text-black">
                    <div class="h-14 flex items-center justify-center">
                        <img
                            class={`object-contain w-auto ${
                                info.smallIcon ? "h-10" : "h-14"
                            }`}
                            src={info.icon.src}
                            alt={info.title}
                        />
                    </div>

                    <h4 class="mt-3 lg:max-w-32 text-sm font-bold leading-tight min-h-10 flex items-center">
                        {info.title}
                    </h4>

                    <p class="text-[12px] leading-tight">{info.description}</p>
                </div>
            ))
        }
    </div>
</Container>
