---
import Container from "../Container.astro";
import en from "../../i18n/en";
import es from "../../i18n/es";
const { lang: t } = Astro.props;
---

<Container
    class="flex items-center justify-center md:justify-start min-h-screen md:min-h-screen"
>
    <div class="max-w-xl text-center md:text-left">
        <h2 class="uppercase font-bold text-white text-[14px]">
            {t.hero.eyebrown}
        </h2>

        <h3 class="font-bold text-[36px] md:text-[46px] leading-tight mt-2">
            {t.hero.title.white}
            <br />
            <span class="text-(--color-accent)">{t.hero.title.red}</span>
        </h3>

        <p class="text-[14px] font-light mt-5 mb-7 max-w-md mx-auto md:mx-0">
            {t.hero.description}
        </p>

        <a
            href="#contact"
            class="inline-flex items-center justify-center border border-white text-[14px] px-8 py-4 rounded-md font-semibold text-white hover:bg-white hover:text-(--color-primary) transition"
        >
            {t.hero.button}
        </a>
    </div>
</Container>
