---
import Container from "../Container.astro";

import plane from "../../assets/icons/plane.svg";
import boat from "../../assets/icons/boat.svg";
import truck from "../../assets/icons/truck.svg";
import courier from "../../assets/icons/package.svg";

const { lang, t } = Astro.props;

const services = [
    {
        icon: plane,
        ...t.heroServices[0],
    },
    {
        icon: boat,
        ...t.heroServices[1],
    },
    {
        icon: truck,
        ...t.heroServices[2],
    },
    {
        icon: courier,
        ...t.heroServices[3],
    },
];
---

<div
    class="absolute
        left-0
        bottom-0
        w-full
        translate-y-1/2
        z-20"
>
    <Container>
        <!-- Desktop -->
        <div
            class="hidden md:grid bg-black rounded-xl shadow-2xl px-10 py-10 grid-cols-4 gap-10"
        >
            {
                services.map((service) => (
                    <div class="flex items-center justify-center gap-3">
                        <img
                            src={service.icon.src}
                            alt={service.title}
                            class="w-14.5 h-12.25 object-contain"
                        />

                        <div>
                            <h3 class="text-white font-semibold text-[14px]">
                                {service.title}
                            </h3>

                            <p class="text-white/70 text-[14px] font-light">
                                {service.subtitle}
                            </p>
                        </div>
                    </div>
                ))
            }
        </div>

        <!-- Mobile -->
        <div
            class="md:hidden bg-black rounded-xl shadow-2xl py-6 overflow-hidden"
        >
            <div class="flex w-max animate-marquee">
                {
                    [...services, ...services].map((service) => (
                        <div class="flex items-center gap-3 px-8 shrink-0">
                            <img
                                src={service.icon.src}
                                alt={service.title}
                                class="w-12 h-10 object-contain"
                            />

                            <div>
                                <h3 class="text-white font-semibold text-[14px] whitespace-nowrap">
                                    {service.title}
                                </h3>

                                <p class="text-white/70 text-[12px] whitespace-nowrap">
                                    {service.subtitle}
                                </p>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </Container>
</div>
