---
import Layout from "../layouts/Layout.astro";

import HeroContent from "./Hero/HeroContent.astro";
import HeroServices from "./Hero/HeroServices.astro";
import Services from "./Services/Services.astro";
import ProcessContent from "./Process/ProcessContent.astro";
import CultureContent from "./Culture/CultureContent.astro";
import ContactContent from "./Contact/ContactContent.astro";
import ExperienceBanner from "./ExperienceBanner.astro";
import CtaBanner from "./CtaBanner.astro";

const { t, lang } = Astro.props;
---

<Layout t={t} lang={lang}>

    <section id="hero">
        <div
            class="bg-cover bg-center"
            style="background-image: url('/hero.png');"
        >
            <div
                class="bg-[linear-gradient(to_bottom,rgba(8,21,40,1)_0%,rgba(8,21,40,0.85)_45%,rgba(28,75,142,0.35)_100%)]
                md:bg-[linear-gradient(to_right,rgba(8,21,40,1)_0%,rgba(8,21,40,0.8)_30%,rgba(28,75,142,0.4)_55%,transparent_100%)]"
            >
                <HeroContent lang={lang} t={t} />
                <HeroServices lang={lang} t={t} />
            </div>
        </div>
    </section>

    <section id="services" class="bg-white">
        <Services lang={lang} t={t} />
    </section>

    <ExperienceBanner t={t} />    

    <section id="culture" class="bg-white">
        <CultureContent lang={lang} t={t} />
    </section>

   <CtaBanner t={t}/>

    <section id="process" class="bg-white">
        <ProcessContent lang={lang} t={t} />
    </section>

    <section id="contact">
        <div
            class="bg-cover md:bg-center bg-top-center"
            style="background-image: url('/contact.png')"
        >
            <div
                class="bg-[linear-gradient(to_right,rgba(8,21,40,1)_0%,rgba(8,21,40,0.85)_30%,rgba(28,75,142,0.3)_55%,rgba(8,21,40,0.85)_70%,rgba(8,21,40,1)_100%)]"
            >
                <ContactContent lang={lang} t={t} />
            </div>
        </div>
    </section>
</Layout>
