---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { t, lang } = Astro.props;
---

<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body class="bg-(--color-primary) text-white">
		<!-- HEADER -->
		<Header t={t} lang={lang} />

		<main>
			<slot />
		</main>

		<!-- FOOTER -->
		<Footer t={t} lang={lang} />
	</body>
</html>